{% extends 'base.html' %}

{%block title%} Blog | Tech news | Sports news{%endblock%}

{% block main %}

<h1>About Page</h1>

<p>My name is {{my_name}}</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id dolores velit ducimus in deleniti reiciendis culpa veniam eaque molestias, voluptate autem accusamus nemo! Nesciunt possimus aperiam quidem ipsa? Vero quisquam voluptate et amet ut assumenda. Doloremque modi nemo fugit tempore necessitatibus vero fugiat distinctio est.</p>
    
{% endblock %}


